@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*[dir="ltr"] body {
  font-family: Inter, sans-serif;
}

*[dir="rtl"] body {
  font-family: Cairo, sans-serif;
}

@layer base {
  :root {
    &,
    &.light-mode {
      /* Grey */
      --color-grey-0: #fff;
      --color-grey-50: #f3f4f6;
      --color-grey-900: #111827;
    }

    &.dark-mode {
      --color-grey-0: #1d1d1f;
      --color-grey-50: #07070b;
      --color-grey-100: #1f2937;
      --color-grey-900: #f9fafb;
    }

    /* Indigo */

    --color-brand-100: #d1f4f9;
    --color-brand-200: #a3e6f0;
    --color-brand-300: #7cd4e2;
    --color-brand-400: #5bc1cf;
    --color-brand-500: #3fb3c2;
    --color-brand-600: #2a9cad;
    --color-brand-700: #258c9c;
    --color-brand-800: #1e6e7b;
    --color-brand-900: #174e58;
  }
}

@layer components {
  .form-input {
    @apply w-full rounded-md border-[2px] border-colorGrey2 bg-colorGrey p-[10px] text-textColor outline-none transition-all placeholder:text-sm focus:border-colorBrand;
  }

  .action-style {
    @apply flex h-[30px] w-[30px] items-center justify-center rounded-md bg-colorGrey p-[5px] text-xl;
  }

  .form-title {
    @apply my-3 text-xl uppercase;
  }
}

.links-list ul li > a.active {
  background-color: var(--color-brand-900);
  color: var(--color-grey-900);
}

/* scrollbar Syles */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: var(--color-grey-0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-600);
}

/* Vertical scrollbar */
*::-webkit-scrollbar:vertical {
  width: 10px;
}

*::-webkit-scrollbar:horizontal {
  height: 10px;
}
